body {
  background-color: #FAF0E6; /* Cor de fundo suave para os olhos */
  font-family: Arial, sans-serif; /* Fonte legível */
}

header{ 

  background: #000000; 
  color: #000000; 
  height: 100px;
  width: 1800px;
  border-radius: 10px;
} 

header div{ 

  display: flex;  
  justify-content: space-between;
  align-items: center; 
  height: 30px;

} 

header a.logotype{ 

  display: flex;
  align-items: center; 
  color: #000000; 
  gap: 10px; 
} 

header h1{ 
  margin: 0; 
  font-size: 20px;
  color: rgb(255, 255, 255); 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
} 

header img { 
  width: 60px; 
  height: 60px; 
}

header nav {
  margin: 0 0 0 auto;
}

header nav img {
  display: none;
}

header nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

header nav ul li a {
  color: white;
}


.wrapper {
  display: flex;
  margin: 0 20px;
}

#cards {
  display: flex; /* Alinhamento dos cards */
  flex-wrap: wrap; /* Permite que os cards se ajustem à largura da tela */
  justify-content: center; /* Centraliza os cards */
  gap: 20px; /* Espaço entre os cards */
}

#cards div {
  background-color: #FFF; /* Cor de fundo do card */
  border-radius: 15px; /* Borda arredondada do card */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); /* Sombra do card */
  width: 300px; /* Largura do card */
  padding: 20px; /* Espaçamento interno do card */
  text-align: center; /* Alinhamento do texto */
}

#cards img {
  width: 100%; /* Largura da imagem */
  height: auto; /* Altura automática para manter a proporção da imagem */
  border-radius: 10px; /* Borda arredondada da imagem */
  object-fit: cover; /* Garante que a imagem cubra toda a área disponível */
}

#cards p {
  margin-top: 20px; /* Espaço acima do parágrafo */
  font-size: 16px; /* Tamanho da fonte */
  color: #333; /* Cor do texto */
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #FFD700; /* Cor de fundo dourada */
  color: #000; /* Cor do texto preta */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

button:hover {
  background-color: #FFA500; /* Cor de fundo laranja quando o mouse passa por cima */
}